<div class="contact-us">
  <h1>Love ♥ to hear from You.</h1>
  <div class="row">
    <div class="col-md-9">
      This system is designed to be used in physical shops or outlets, allowing users (customers or staff) to report
software bugs and incidents easily. The system will facilitate seamless communication
between users and technical support representatives, providing real-time updates on the
progress of bug resolution. The primary goals of this initiative are to enhance user
satisfaction, improve operational efficiency, and uphold the reputation of small merchants in
the competitive market.
<p>
 Here customer can raised their issue and merchants can slove the same issue.

</p>
       
      <iframe src="./assets/img/incident.jpeg" frameborder="0" width="100%" height="250px" style="border: 0;" allowfullscreen=""></iframe>
    </div>
    <div class="col-md-3">
      <h3>Postal Address</h3>
      <p>
        Bommanahalli <br>
        near:-Police Station<br>
        Bengaluru
        karnataka
        India <br>
        Pin Code - 560068
      </p>
      <h3>Email</h3>
      <p><strong>Office:</strong>testccms&#64;gmail.com</p>
      <p><strong>Personal:</strong>testmerchantccms&#64;gmail.com</p>
      <h3>Phone:</h3>
      <p><strong>Office:</strong>+91 235865488</p>
      <p><strong>Personal:</strong>+91 565665323</p>
    </div>
  </div>
</div>
