<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-bold">Incident Management </h1>
      <p class="lead text-body-secondary">Customer Complaint Management System (CCMS) aims to bridge the
        gap by offering a comprehensive solution that facilitates seamless communication between
        customers and support representatives. The system will provide real-time updates on
        complaint statuses, enhancing customer satisfaction and operational efficiency
        </p>
      <p>
        <a class="btn btn-primary my-2" routerLink="/seller/product">Product Section</a> &nbsp; &nbsp;
        <a class="btn btn-secondary my-2" routerLink="/sign-up">Register</a>
      </p>
    </div>
  </div>
</section>
